{% extends 'base.html.twig' %}

{% block title %}liste des employe
{% endblock %}

{% block body %}
	<h1>Liste des employes</h1>

	<a href="{{ path('add_employe')}}"> Ajouter un employé</a>

	{% if employes | length > 0 %}

		<p>
			Il y a
			{{ employes | length}}
			employés
		</p>

		{% for employe in employes %}
		 <a href="{{ path('show_employe', {'id': employe.id}) }}">
		 {{ employe}}</a> {{ '(' ~ employe.entreprise~ ')' ~ ' ' ~ employe.dateEmbauche | date('d/m/Y')}}
		 <a href="{{ path('delete_employe', {'id' : employe.id})}}">supprimer</a> <a href="{{ path('update_employe', {'id' : employe.id}) }}">Editer</a>	<br>
		{% endfor %}
	{% else %}
		<p>Il n'y a pas d'employés</p>
	{% endif %}

{% endblock %}
